
/**** innergy palette ***/
$default-text-color: 		#333; 	 /* dark grey */
$default-link-color:		#2A7FB4; /* medium blue */
$secondary-text-color: 		#868686; /* light gray */

$primary-accent-color: 		#ff8200; /* orange */
$secondary-accent-color: 	#5ab42a; /* green */ 
$error-color:				#ff0000; /* red */